:root {
  --header-hight: 6.7em;
  --dark-primary: #fbc02d ;
  --primary: #ffeb3b;
  --light-primary: #fff9c4 ;
  --text-icons: #FFFFFF;
  --accent-color: #00bcd4 ;
  --primary-text: #212121;
  --secondary-text: #727272;
  --divider: #B6B6B6;
}
html{
  background-color: #EEEEEE;
}
header{
  font-family: Helvetica;
  position: fixed;
  top:0px;
  left: 0px;
  background-color: var(--primary);
  color: var(--text-icons);
  line-height: .6;
  width: 100%;
  height: var(--header-hight);
  box-shadow: 0px 2px 2px #888888;
}
nav{
  position: absolute;
  top: calc(var(--header-hight) - 2em);
  margin-right: auto;
  margin-left: auto;
  right: 1em;
  left: 1em;
}
body{
  font-family: Helvetica;
  margin-top: calc(var(--header-hight) + .3em);
  text-align:center;
  background-color:inherit;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
  font-size: 18px;
  padding-left: 2em;
  padding-right: 2em;

}
.linkButtons{
  /*display: block;*/
  width: 115px;
  height: 25px;
  background: var(--light-primary);
  color: var(--primary-text);
  padding: .5em;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  margin: 3%;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration:none;
}

a:active {
    text-decoration: none;
    background: var(--dark-primary);
}

