:root {
  --header-hight: 6.7em;
}
header{
  position: fixed;
  top:0px;
  left: 0px;
  background-color: #C99D9D;
  width: 100%;
  height: var(--header-hight);
}
nav{
  position: absolute;
  top: calc(var(--header-hight) - 2em);
  right: 1em;
  left: 1em;
}
body{
  margin-top: calc(var(--header-hight) + .3em);
  text-align:center;
  background-color:#F8F8FF;
}
.linkButtons{
  /*display: block;*/
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: .5em;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 3%;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration:none;
}

a:active {
    text-decoration: none;
    background: #428495;
}

