header{
  top:0;
  background-color: #C99D9D;
  width: 100%;
  left: 0px;
  position: fixed;
  height: 6.3em;
}
nav{
  position: absolute;
  top: 4.3em;
  right: 1em;
  left: 1em;
}
.linkButtons{
  /*display: block;*/
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: .5em;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 3%;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration:none;
}

a:active {
    text-decoration: none;
    background: #428495;
}
body{
  text-align:center;
  background-color:#F8F8FF;
}
